.page {
    margin: 30px auto;
    border: 1px solid #e9ecef;
    padding: 30px;
    border-radius: 15px;
    width: 600px;
}

.page-img {
    display: flex;
    justify-content: center;
}

.page-toDo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    margin-top: 50px;
}

.back {
    margin-bottom: 20px;
}

.page-name h1, h6, p {
    text-align: left;
}